<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.laba.persistence.CredentialRepository">

    <insert id="create" parameterType="com.solvd.laba.domain.Credential" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO credentials (login, password) VALUES (#{login}, #{password})
    </insert>

    <select id="findById" resultType="com.solvd.laba.domain.Credential">
        SELECT id, login, password FROM credentials WHERE id = #{id}
    </select>

    <select id="findAll" resultType="com.solvd.laba.domain.Credential">
        SELECT id, login, password FROM credentials
    </select>

    <update id="update" parameterType="com.solvd.laba.domain.Credential">
        UPDATE credentials SET login = #{login}, password = #{password} WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM credentials WHERE id = #{id}
    </delete>

</mapper>
